<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AppsTek Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dd9bcd">  <td>19/01/23 14:49:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestExecution.InitDriver()[pri:0, instance:com.makeMyTrip.suites.TestExecution@14acaea5]">&gt;&gt;InitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/01/23 14:49:57</td>   <td>17518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.LoginVerification()[pri:0, instance:com.makeMyTrip.suites.TestExecution@14acaea5]">LoginVerification</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/01/23 14:50:56</td>   <td>76798</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestExecution.Quit()[pri:0, instance:com.makeMyTrip.suites.TestExecution@14acaea5]">&lt;&lt;Quit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="dd9bcd">  <td>19/01/23 14:50:33</td>   <td>54059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestExecution.SearchBus()[pri:1, instance:com.makeMyTrip.suites.TestExecution@14acaea5]">SearchBus</td> 
  <td>main@517210187</td>   <td></td> </tr>
</table>
